#tag_search {
    text-align: center;
}

#search_tag p {
    font-size: 1.6rem;
    margin: 20px 0;
}

#items_wrap {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 0 40px;
}
