div.items {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    align-items:stretch;
    margin: 0 80px;
}

div.paginate_link {
    margin-bottom: 50px;
}

div.paginate_link nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

div.paginate_link nav ul li {
    text-align: center;
    font-size: 1.5rem;
    width: 30px;


}
div.paginate_link nav ul li a {
    display: inline-block;
    background-color: #fff;
    text-decoration: none;
    width: 30px;
    border: 1px black solid;
    text-decoration: none;
    color: black;
}
